<!DOCTYPE <!DOCTYPE html>
<html>
<head>
	<title>My BLACKJACK</title>
</head>
<body>

	<h1>Welcome to Blackjack</h1>
	<p>Please type your name</p>
	<input type="text" name="player_name">
	<button type="button">Submit</button>

</body>
</html>
